html {
  background-color: #222;
  height: 100vh;
}

body {
  color: white;
  margin: 0;
  overflow: hidden;
  font-size: 4vw;
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
}

a,
a:visited {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-weight: 400;
  font-size: 1.6em;
}
h3 {
  font-weight: 400;
  font-size: 1.2em;
}

.button {
  background: darkcyan;
  color: white;
  padding: 0.8em 1.1em 0.7em;
  margin:0 .5em;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 0.4em;
  border: none;
  border-bottom: 0.2em solid #045454;
  font-family: inherit;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
  }
}

.app {

  .logo {
    font-size: 10em;
  }

  .centerTopAdjust {
    margin-bottom: 5em;
  }

  .commandBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .logoNav {
      margin-right: 0.1em;
    }

    .navModes {
      padding: 0.14em;
      font-size: 4em;
      text-align: left;
      color: teal;

      .active {
        color: white;
      }
    }
  }

  .distance {
    font-size: 4em;
    display: block;
    margin: 1em 0 0;
  }

  .miniDistance {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 0.6em;
  }

  .arrow {
    fill: darkcyan;
    margin: -25vw;
    width: 60vw;
    height: 60vw;
  }

  .map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5em 0 0;

    .mapIcon {
      color: black;
      width: 40px;
      height: 40px;
    }
  }

  .stats {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;

    > span {
      display: inline-block;
      padding: 0 0.4em;
    }
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Modal */

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 64px 32px;
  z-index:1;
}

.modal {
  display: inline-block;
  background-color: white;
  padding: 1.7em;
  color: black;
  border-radius: 15px;
}
