html {
  background-color: #222;
}

body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app {
  font-size: 6vw;
  text-align: center;
  font-family: sans-serif;

  .distance {
    font-size: 4em;
    margin: -0.2em;
    display: block;
  }

  .arrow {
    width: 50vw;
    fill: #FFF;
    margin-bottom:20vw;
  }
}
